-- Verificar se existem usuários na tabela user_info
SELECT COUNT(*) as total_usuarios FROM user_info;

-- Verificar estrutura da tabela
SELECT column_name, data_type, is_nullable 
FROM information_schema.columns 
WHERE table_name = 'user_info' 
ORDER BY ordinal_position;

-- Listar os primeiros 5 usuários se existirem
SELECT id, username, email, user_level, full_name, is_active, created_at 
FROM user_info 
ORDER BY created_at DESC 
LIMIT 5;

-- Se não houver usuários, criar um usuário de teste
-- (Execute apenas se a contagem acima retornar 0)
/*
INSERT INTO user_info (username, email, user_level, full_name, is_active, created_at, updated_at)
VALUES 
('admin_teste', 'admin@teste.com', 'admin', 'Administrador Teste', true, NOW(), NOW()),
('manager_teste', 'manager@teste.com', 'manager', 'Gerente Teste', true, NOW(), NOW()),
('user_teste', 'user@teste.com', 'user', 'Usuário Teste', true, NOW(), NOW());
*/

-- Verificar novamente após inserir
SELECT COUNT(*) as total_usuarios_apos FROM user_info;
